#pagecols {  width:570px;  text-align:left;}
#column1 {  float:left; 
 width:570px;  }
#colbody1 {  border-top-width: 0px; border-top-style: none;
padding-top: 5px;
border-right-width: 0px; border-right-style: none;
padding-right: 5px;
border-bottom-width: 0px; border-bottom-style: none;
padding-bottom: 5px;
border-left-width: 0px; border-left-style: none;
padding-left: 5px;
  }
#body_pgbldblk23 { border-top-width: 0px; border-top-style: none;
padding-top: 5px;
border-right-width: 0px; border-right-style: none;
padding-right: 5px;
border-bottom-width: 0px; border-bottom-style: none;
padding-bottom: 5px;
border-left-width: 0px; border-left-style: none;
padding-left: 5px;
  width: 550px;   overflow: hidden;
  }
#body_pgbldblk52 { border-top: 1px solid #CC0000;
padding-top: 4px;
border-right: 1px solid #CC0000;
padding-right: 4px;
border-bottom: 1px solid #CC0000;
padding-bottom: 4px;
border-left: 1px solid #CC0000;
padding-left: 4px;
  width: 550px;   overflow: hidden;
  }
#body_pgbldblk28 { border-top-width: 0px; border-top-style: none;
padding-top: 5px;
border-right-width: 0px; border-right-style: none;
padding-right: 5px;
border-bottom-width: 0px; border-bottom-style: none;
padding-bottom: 5px;
border-left-width: 0px; border-left-style: none;
padding-left: 5px;
  width: 550px;   overflow: hidden;
  }
#body_pgbldblk54 { border-top: 1px solid #CC0000;
padding-top: 4px;
border-right: 1px solid #CC0000;
padding-right: 4px;
border-bottom: 1px solid #CC0000;
padding-bottom: 4px;
border-left: 1px solid #CC0000;
padding-left: 4px;
  width: 550px;   overflow: hidden;
  }
#body_pgbldblk37 { border-top-width: 0px; border-top-style: none;
padding-top: 5px;
border-right-width: 0px; border-right-style: none;
padding-right: 5px;
border-bottom-width: 0px; border-bottom-style: none;
padding-bottom: 5px;
border-left-width: 0px; border-left-style: none;
padding-left: 5px;
  width: 550px;   overflow: hidden;
  }
#body_pgbldblk57 { border-top: 1px solid #CC0000;
padding-top: 4px;
border-right: 1px solid #CC0000;
padding-right: 4px;
border-bottom: 1px solid #CC0000;
padding-bottom: 4px;
border-left: 1px solid #CC0000;
padding-left: 4px;
  width: 550px;   overflow: hidden;
  }
#body_pgbldblk46 { border-top-width: 0px; border-top-style: none;
padding-top: 5px;
border-right-width: 0px; border-right-style: none;
padding-right: 5px;
border-bottom-width: 0px; border-bottom-style: none;
padding-bottom: 5px;
border-left-width: 0px; border-left-style: none;
padding-left: 5px;
  width: 550px;   overflow: hidden;
  }
#column2 {  float:left;  }
#colbody2 {   }
#column3 {  float:left;  }
#colbody3 {   }
